body {
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
}

.header {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 18px 40px;
}

.box {
    background-color: #E2E2E2;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    height: 60px;
}

.menu {
    flex-grow: 1;
    height: 34px;
}

.button {
    width: 120px;
    height: 42px;
}

.first_body {
    background-color: #F1F1F1
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 80px 40px;
}

.section_1 {
    flex-direction: row;
    gap: 30px;
}

.content {
    width: 585px;
    height: 267px;
}

.image {
    width: 585px;
    height: 520px;
}

.title {
    width: 600px;
    height: 80px;
}

.main_item {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 380px;
    height: 420px;
}

.third_body {
    background-color: #F1F1F1;
}

.item1 {
    flex: 1 1 216px;
    height: 300px;
}

.item2 {
    flex: 1 1 277.5px;
    height: 300px;
}

.footer {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
}